body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
a:visietd{
	text-decoration: none;
}
header{
	height: 5vh;
	padding: 5px;
	background: #0CAFA5;
}

header img{
	height: 5vh;
}

header select{
	margin-left: 40px;
	height: 40px;
	background: #212121;
	color: #fff;
	border: none;
}

nav{
	position: fixed;
	background: #212121;
	height: 95vh;
	width: 10vw;
	color: #EFEFEF;
	text-align: center;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li, li a{
	color: white;
	padding: 30px 0px 30px 0px;
	text-decoration: none;
	list-style: none;
	transition: background-color 0.2s ease;
}
nav li:hover, .active{
	background: #414141;
	border-right: solid 7px #FF4081;
}

nav li:active{
	background: #FF4081;
	border-right: solid 7px #FF4081;
}

.content-section{
	height: 100%;
	margin-left: 10vw;
	display: none;
	padding: 40px;
	text-align: center;
}

/*this makes tab-1 the firts page you see as its the only one not display:none;*/
#tab-1 {
 display: block;
}

.vis{
	height: 400px;
	border: 2px solid #FF4081;
}






.darkCover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.darkCover:target {
  visibility: visible;
  opacity: 1;
  z-index: 40;
}

.uploadPopup {
  margin: 70px auto;
  padding: 20px;
  background: #0CAFA5;
  border-radius: 5px;
  width: 500px;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 40;
}

.uploadPopup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.uploadPopup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.uploadPopup .close:hover {
  color: #FF4081;
}
.uploadPopup .content {
  max-height: 30%;
  overflow: auto;
}


input{
  width: 495px;
  font-size: 15px;
  position: relative;
  height: 45px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 30px
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 2px;
  border-color: #FF4081

}

input:focus
{
  border-color: #FF4081;
  box-shadow: 0 0 5px #FF4081;
  outline: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.pertInput
{
  display: none;
}
.btnApp
{
  background-color: #FF4081;
  border-color: #FF4081;
}



.ll-skin-melon {
	font-size: 90%;
}

.ll-skin-melon .ui-widget {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background: #2a2426;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-melon .ui-datepicker {
	padding: 0;
}

.ll-skin-melon .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 15px;
}

.ll-skin-melon .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-title {
	margin-top: .4em;
	margin-bottom: .3em;
	color: #e9f0f4;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-next span,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-image: url(../multimedia/ui-icons_ffffff_256x240.png);
	background-position: -32px 0;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}

.ll-skin-melon .ui-datepicker table {
	margin: 0;
}

.ll-skin-melon .ui-datepicker th {
	padding: 1em 0;
	color: #ccc;
	font-size: 13px;
	font-weight: normal;
	border: none;
	border-top: 1px solid #3a414d;
}

.ll-skin-melon .ui-datepicker td {
	background: #FF4081;
	border: none;
	padding: 0;
}

.ll-skin-melon td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: .5em;
	margin: 0;
	font-weight: normal;
	color: #efefef;
	font-size: 16px;
}

.ll-skin-melon .ui-state-disabled  {
	opacity: 1;
}

.ll-skin-melon .ui-state-disabled .ui-state-default {
	color: #fba49e;
}

.ll-skin-melon td .ui-state-active,
.ll-skin-melon td .ui-state-hover {
	background: #0CAFA5;
}
