body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a:visietd{
	text-decoration: none;
}
header{
	height: 5vh;
	padding: 5px;
	background: #0CAFA5;
}

header img{
	height: 5vh;
}

#splash{
	height: 50vh;
	width: 100vw;
	background: url("../multimedia/splash.png") no-repeat fixed center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#splash-content{
	background: rgba(33, 33, 33, 0.60);
	padding: 40px;
	width: 30vw;
	color: #fff;
	text-align: center;
}
#projects{
	background: #E5E5E5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card{
	background: #fff;
	border: solid black 2px;
	width: 300px;
	height: 300px;
	padding: 15px;
	margin: 40px;
}
.card i{
	float: right;
}
.btn{
	width: 70%;
	text-align: center;
	padding: 15px 25px;
	font-size: 15px;
	text-decoration: none;
	margin: 15px;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #FF4081;
	box-shadow: 0px 5px 0px 0px #CC3367;
	transition: background-color 0.2s ease;
}
.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.btn:hover {
  background-color: #FF8CB3;
}
.create{
	border: dashed black 2px;
	opacity: 0.5;
}
.create:focus, .create:hover, .create:active{
	opacity: 1;
}
#divider{
	text-align: center;
	font-size: 15px;
	width: 100vw;
	padding: 5px;
	background: #B3B2B2;
	color: #fff;
}
footer{
	background: #212121;
	color: #fff;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
article{
	max-width: 50vw;
	padding: 40px;
}